src/service/WebContent/wsdl/GuitarServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.webservices.igor.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.webservices.igor.com" xmlns:intf="http://service.webservices.igor.com" xmlns:tns1="http://beans.webservices.igor.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.webservices.igor.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.webservices.igor.com"/>
   <element name="update">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="g" type="tns1:Guitar"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType>
     <sequence>
      <element name="updateReturn" type="tns1:Guitar"/>
     </sequence>
    </complexType>
   </element>
   <element name="init">
    <complexType/>
   </element>
   <element name="initResponse">
    <complexType>
     <sequence>
      <element name="initReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="delete">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteResponse">
    <complexType>
     <sequence>
      <element name="deleteReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="read">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="readResponse">
    <complexType>
     <sequence>
      <element name="readReturn" type="tns1:Guitar"/>
     </sequence>
    </complexType>
   </element>
   <element name="create">
    <complexType>
     <sequence>
      <element name="g" type="tns1:Guitar"/>
     </sequence>
    </complexType>
   </element>
   <element name="createResponse">
    <complexType>
     <sequence>
      <element name="createReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="readAll">
    <complexType/>
   </element>
   <element name="readAllResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="readAllReturn" type="tns1:Guitar"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.webservices.igor.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Guitar">
    <sequence>
     <element name="brand" nillable="true" type="xsd:string"/>
     <element name="color" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="image" nillable="true" type="xsd:string"/>
     <element name="model" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initRequest">

      <wsdl:part element="impl:init" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readResponse">

      <wsdl:part element="impl:readResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readAllRequest">

      <wsdl:part element="impl:readAll" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readAllResponse">

      <wsdl:part element="impl:readAllResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initResponse">

      <wsdl:part element="impl:initResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

      <wsdl:part element="impl:deleteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readRequest">

      <wsdl:part element="impl:read" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part element="impl:create" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createResponse">

      <wsdl:part element="impl:createResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRequest">

      <wsdl:part element="impl:delete" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GuitarServiceImpl">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest">

       </wsdl:input>

         <wsdl:output message="impl:initResponse" name="initResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delete">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="read">

         <wsdl:input message="impl:readRequest" name="readRequest">

       </wsdl:input>

         <wsdl:output message="impl:readResponse" name="readResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readAll">

         <wsdl:input message="impl:readAllRequest" name="readAllRequest">

       </wsdl:input>

         <wsdl:output message="impl:readAllResponse" name="readAllResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GuitarServiceImplSoapBinding" type="impl:GuitarServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="read">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="readResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readAllRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="readAllResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GuitarServiceImplService">

      <wsdl:port binding="impl:GuitarServiceImplSoapBinding" name="GuitarServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/SOAPAssignment_B00068103/services/GuitarServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
